[submodule "picolibc"]
	path = picolibc
	url = https://github.com/picolibc/picolibc
[submodule "user_apps/gboy/Peanut-GB"]
	path = user_apps/gboy/Peanut-GB
	url = https://github.com/deltabeard/Peanut-GB
